#tblwdth
{
	width: 725px;
	height: 253px;
	background-image: url(/sbijava/images/echeque_sbi_new.gif);
	background-repeat: no-repeat;
	background-position: center;
	}
	
#tblsbbj
{
	width: 725px;
	height: 253px;
	background-image: url(/sbijava/images/echeque_sbi_new.gif);
	background-repeat: no-repeat;
	background-position: center;
	}
#tblsbm
{
	width: 725px;
	height: 253px;
	background-image: url(/sbijava/images/echeque_sbi_new.gif);
	background-repeat: no-repeat;
	background-position: center;
	}
#tblsbh
{
	width: 725px;
	height: 253px;
	background-image: url(/sbijava/images/echeque_sbi_new.gif);
	background-repeat: no-repeat;
	background-position: center;
	}
#tblsbt
{
	width: 725px;
	height: 253px;
	background-image: url(/sbijava/images/echeque_sbi_new.gif);
	background-repeat: no-repeat;
	background-position: center;
	}
#tblsbp
{
	width: 725px;
	height: 253px;
	background-image: url(/sbijava/images/echeque_sbi_new.gif);
	background-repeat: no-repeat;
	background-position: center;
	}	
.chq_dt
{
	font-family: Verdana;
	font-size: 70%;
	padding-left:610px;
	font-weight:bold;
	height:17px;
	vertical-align: top;
}
.chq_pay
{
	font-family: Verdana;
	font-size: 80%;
	padding-left:55px;
	font-weight:bold;
	height:31px;
	vertical-align: bottom;
}
.chq_mker{
	font-family: Verdana;
	font-size: 80%;
	font-weight:bold;
	padding-left:70px;
	width:70%;
	height:31px;
	vertical-align: top;
	}
.chq_rs{
	font-family: Verdana;
	font-size: 80%;
	font-weight:bold;	
	padding-left:70px;	
	vertical-align: bottom;
	}
.chq_accno{
	font-family:Verdana;
	font-size: 80%;
	padding-left:110px;
	font-weight:bold;
	height:22px;
	padding-bottom:15px;
	vertical-align: top;
	
	}
.chq_branch{
	font-family: Verdana;
	font-size:70%;
	font-weight:bold;
	color: #FF504E;
	text-align:center;
	width:24%;
	height:49px;
	}
.chq_auth{
	font-family: Verdana;
	font-size:70%;
	font-weight:bold;
	color: #FF504E;
	text-align:center;
	}
.chq_authdet{
	font-family: Verdana;
	font-size:70%;
	font-weight:normal;
	color: #000000;
	text-align:center;
	width:19%;
	height:32px;
	vertical-align: bottom;
	}
.chq_chqno{
	font-family: Verdana;
	font-size:80%;
	font-weight:bold;
	text-align:center;	
	height:28px;	
	}
.chq_ref{
	font-family: Verdana;
	font-size:70%;
	text-align:center;		
	}
/*14-10-11*/

.chq_inwords{
	font-family: Verdana;
	font-size: 80%;
	font-weight:bold;
	padding-left:150px;
	width:70%;
	height:31px;
	vertical-align: bottom;
	}

.chq_amt_inwords{
	font-family: Verdana;
	font-size: 80%;
	font-weight:bold;
	padding-left:30px;
	width:70%;
	height:31px;
	vertical-align:middle;
	}